<div class="content admin w-100">

    <h5 id="jump" class="main-heading1">
        待處理的<span class="highlight">申請</span>
    </h5>

    <section class="container-fluid">

        <div class="row">
            <div class="col">
                <a href="/admin/coachPayment/waiting/#jump" action="false" type="button" class="btn btn-dark"
                    style="font-size: 14pt;">待處理的申請</a>
            </div>
            <div class="col ">
                <a href="/admin/coachPayment/waiting/#jump" action="false" type="button"
                    class="btn btn-link float-right" style="font-size: 14pt;">總數: <%= numOfRecords %> </a>
            </div>
        </div>
        <br>