<div class=" field">
    <img src="logo.jpg" alt="logo">
</div>
<div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Login</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">SignUp</button>
    </div>
</div>