<div class="columns">
    <div class="column">
        <div class="field">
            <h3 style="font-size:4vw"><b>Person Information</b></h3>
            <div>
                <b>Name:</b>
                <%= user.name %>
            </div>
            <div>
                <b>Address:</b>
                <%= user.address %>
            </div>
            <div>
                <b>E-mail: </b>
                <%= user.email %>@gmail.com
            </div>
            <div>
                <b>Value: </b>
                <%= user.value %>
            </div>
        </div>
    </div>
</div>