<form action="/user/wallet/<%= user.id %>/value" method="post">
    <div class="columns">
        <div class="column">
            <div class="field">
                <h3 style="font-size:4vw"><b>Card Information</b></h3>
                <div class="control">
                    <div>
                        <b>Value to be added:</b>
                        <input class="input" type="int" placeholder="Value" name="value">
                    </div>
                    <div>
                        <button class="button is-link" type="submit" onclick="submit()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>