<div class="columns">
    <div class="column">
        <div class="field">
            <h3 style="font-size:4vw"><b>Account Information</b></h3>
            <div>
                <b>Card Type:</b>
                <%= user.cardType %>
            </div>
            <div>
                <b>Card Number:</b>
                <%= user.cardNum %>
            </div>
            <div>
                <b>Value:</b>
                <%= user.value %>
            </div>
            <div class="control">
                <a href="http://localhost:1337/user/wallet/<%= user.id %>/value">
                    <button class="button is-link">Add Value</button>
                </a>
            </div>
        </div>
    </div>
</div>