<div class="columns">
    <div class="column">
        <div class="field">
            <figure class="image">
                <img src="<%= product.imgUrl %>" alt="Placeholder image">
            </figure>
        </div>
    </div>


    <div class="column">
        <div class="field">
            <li><b>Title: </b>
                <%= product.title %>
            </li>
            <li><b>Price: </b>
                <%= product.price %>
            </li>
            <li><b>Source: </b>
                <%= product.shop %>
            </li>
        </div>
    </div>
</div>